.container {
  max-width: 1024px;
  margin: 0 auto;
}

.accordion {
  border: 1px solid #efefef;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.accordion-item {
  margin-bottom: 0;
}

.accordion-item.active {
  margin-bottom: 10px;
}

.accordion-items {
  line-height: 0;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.accordion-items.active {
  line-height: 1.5;
  color: black;
}

.bi-chevron-down {
  transform: rotate(0deg);
  -webkit-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.bi-chevron-down.active {
  transform: rotate(180deg);
  -webkit-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
